@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* bagian navbar dan hero */
.navbar-hero{
    background-image: url("/image/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    height: 100%;
    position: relative;
    top: 0;
}

.navbar-brand img{
    width: 80px;
    height: 80px;
    margin: 0 15px 0 15px;
    position: relative;
    left: 55px;
    display: flex;
    align-items: center;
}

#navbarNav {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding-left: 25px;
    position: relative;
    justify-content: end;
    align-items: center;
}

.navbar-nav {
    margin-right: 20px;
}

#navbarNav .navbar-nav .nav-item .nav-link {
    color: #49a078;
    font-weight: 500;
    transition: 0.15s ease-in-out;
}

#navbarNav .navbar-nav .nav-link:hover {
    color: #1f2421;
}

.nav-btn {
    font-weight: 500;
    color: #49a078;
    width: 135px;
    height: 45px;
    border: #49a078 solid;
    border-radius: 20px;
    margin-right: 80px;
    padding: 4px 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.nav-btn .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
}

.nav-btn:hover {
    border: #1f2421 solid;
    background-color: #1f2421;
    color: #dce1de;
}

.jumbotron{
    width: 100%;
    height: 84.9vh;
}

.title-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: relative;
    top: 0.8em;
    font-family: "Cormorant Garamond-Bold", serif;
    font-size: 90px;
    -webkit-text-stroke: 2px #1f2421;
    text-shadow: 0px 4px 4px #00000040;
    text-align: center;
    font-weight: 700;
    color: transparent;
    letter-spacing: 10;
    line-height: normal;
}

.label {
    width: 765px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-paragraph {
    position: relative;
    width: 765px;
    top: 5em;
    left: 18.75em;
    font-family: "Cormorant Garamond-Regular", serif;
    font-weight: 400;
    color: #9cc5a1;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.btn-hero {
    display: flex;
    justify-content: center;
    position: relative;
    top: 6.5em;
    font-family: "Inter", sans-serif;
}

#btn-one {
    background-color: #dce1de;
    color: #1f2421;
    font-weight: medium;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    margin-right: 10px;
}

#btn-one:hover {
    background-color: #216869;
    color: #dce1de;
}

#btn-two {
    background-color: #49a078;
    color: #dce1de;
    font-weight: medium;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    margin-left: 10px;
}

#btn-two:hover {
    background-color: #1f2421;
    color: #9cc5a1;
}

/* bagian about us */
.about-us {
    position: relative;
    width: 100%;
    height: 37.5em;
    background-color: #1f2421;
}

.title-about {
    display: flex;
    text-align: center;
    align-items: center;
}

#sentence-title-about {
    margin-left: 6em;
    padding-bottom: 1.4em;
    color: #dce1de;
    font-family: "Cormorant Garamond-Bold", serif;
    position: relative;
    top: 5em;
    font-size: 1.875em;
    width: 4.2em;
    height: 1.2em;
    text-align: center;
    border-bottom: 5px solid #dce1de;
}

.text-about {
    display: flex;
    text-align: center;
    align-items: center;
}

#sentence-text-about {
    margin-left: 8em;
    color: #dce1de;
    font-family: "Cormorant Garamond-Regular", serif;
    position: relative;
    top: 10em;
    font-size: 1.2em;
    width: 20em;
    height: 7.5em;
    text-align: start;
}

.image-about {
    width: 15.8em;
    height: 21.3em;
    background: #49a078;
    position: relative;
    left: 56em;
    bottom: 5em;
    z-index: 1;
}

.image-about img {
    width: 15.8em;
    height: 21.3em;
    position: relative;
    right: 3em;
    top: 2em;
}

.rectangle-one {
    width: 700px;
    height: 700px;
    top: 0;
    left: 0;
    background-color: #2168694c;
    position: relative;
    left: 649px;
    top: -556px;
    clip-path: polygon(62.38% 0%, 73.63% 0%, 100% 27.25%, 100% 38.88%);
}

.rectangle-two {
    width: 700px;
    height: 700px;
    top: 0;
    left: 0;
    background-color: #2168694c;
    position: relative;
    left: 649px;
    top: -1255px;
    clip-path: polygon(56.29% 0%, 100% 44.29%, 100% 57%, 43% 0%);
}

/* bagian services */
.services {
    /* background-color: red; */
    width: 100%;
    height: 40vw;
}

.container {
    padding: 50px;
}

.title-service {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentence-title-service {
    font-family: "Cormorant Garamond-Bold", serif;
    color: #216869;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
}

.text-services {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentence-text-service {
    font-family: "Cormorant Garamond-Regular", serif;
    color: #216869;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 18px;
    position: relative;
    top: 1.4em;
}

.row {
    position: relative;
    top: 4.5em;
}

.col {
    margin: 0 15px 0 15px;
}

.icon {
    display: flex;
    justify-content: center;
    text-align: center;
}

iconify-icon {
    font-size: 4.5em;
    color: #49a078;
}

#service{
    font-family: "Cormorant Garamond-SemiBold", serif;
    font-size: 1.55em;
    text-align: center;
    position: relative;
    top: 1em;
}

#paragraph{
    font-family: "Cormorant Garamond-Regular", serif;
    font-size: 0.8em;
    text-align: center;
    position: relative;
    top: 3em;
}

.line-one {
    background-color: rgba(31, 36, 33, 0.3);
    height: 300px;
    width: 1px;
    position: absolute;
    top: -35px;
    left: 285px;
}

.line-two {
    background-color: rgba(31, 36, 33, 0.3);
    height: 300px;
    width: 1px;
    position: absolute;
    top: -35px;
    left: 570px;
}

.line-three {
    background-color: rgba(31, 36, 33, 0.3);
    height: 300px;
    width: 1px;
    position: absolute;
    top: -35px;
    left: 855px;
}